@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  word-break: normal;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

body {
  font-family: "M PLUS 1", "M PLUS 1 Code", "Robot", sans-serif;
  box-sizing: border-box;
  background: #FFFDFA;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a, a:active, a:focus {
  text-decoration: none;
  outline: none;
  color: #000000;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none; /* デフォルトのサーチキャンセルボタンを非表示にする場合 */
}

cite {
  color: #4A6C9B;
}

pre {
  padding: 5%;
  background-color: #F5F5F5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #707070;
  padding: 30px;
  text-align: left;
}

th {
  width: 35%;
  font-weight: 500;
}

.l-body {
  display: flex;
}
.l-body__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.502);
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
}
.l-body__overlay.is-open {
  z-index: 11;
  opacity: 1;
}

.l-container {
  display: block;
  width: 100%;
  z-index: 10;
}
@media screen and (min-width: 1280px) {
  .l-container {
    width: 80%;
  }
}

.l-footer {
  width: 100%;
  height: auto;
  min-width: 320px;
  background: url(../img/footer.png);
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  z-index: 101;
}

.l-header {
  background-color: #FFF7EF;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 1280px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
  width: 87.4%;
  height: auto;
  z-index: 100;
  position: fixed;
  top: 0;
  right: -87.4%;
}
@media screen and (min-width: 500px) {
  .l-sidebar {
    width: 44%;
  }
}
.l-sidebar.is-open {
  height: 100vh;
  transition: all 0.6s;
  right: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 0 0 0 5%;
}
@media screen and (min-width: 1280px) {
  .l-sidebar {
    width: 20%;
    height: auto;
    display: block;
    padding: 84px 46px;
    right: 0;
    position: static;
  }
}

.c-button--search {
  background: linear-gradient(to right, #F2EDE9, #DED8D3);
  border: 1px solid #707070;
  border-radius: 10px;
}
.c-button--detail {
  background-color: #ffffff;
  border-radius: 20px;
}
@media screen and (min-width: 1280px) {
  .c-button--detail {
    border-radius: 50px;
  }
}

.c-icon--mushimegane {
  width: 24px;
  height: 24px;
  background-image: url(../../../img/mushimegane.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.c-icon__close {
  display: block;
  position: relative;
  width: 32px;
  height: 36px;
}
@media screen and (min-width: 1280px) {
  .c-icon__close {
    display: block;
  }
}
.c-icon__close::before, .c-icon__close::after { /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px; /* 棒の幅（太さ） */
  height: 32px; /* 棒の高さ */
  background: #707070;
}
.c-icon__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.c-icon__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.c-icon__prev {
  width: 17.53px;
  height: 17.07px;
  background-image: url(../../../img/prev.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
.c-icon__next {
  width: 17.53px;
  height: 17.07px;
  background-image: url(../../../img/next.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}

.c-input--search {
  padding: 10px 0 10px 40px;
  border: 1px solid #707070;
  background-color: #ffffff;
  border-radius: 10px;
}

.c-font__Mplus1 {
  font-family: "M PLUS 1", sans-serif;
}
.c-font__Robot {
  font-family: "Robot", sans-serif;
}
.c-font__Mplus1Code {
  font-family: "M PLUS 1 Code", sans-serif;
}
.c-font__size-h2 {
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 500px) {
  .c-font__size-h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .c-font__size-h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.c-font__size-h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
@media screen and (min-width: 500px) {
  .c-font__size-h3 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .c-font__size-h3 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
.c-font__size-h4, .c-font__size-h5, .c-font__size-h6 {
  font-size: 20px;
  font-size: 1.25rem;
}

.c-line {
  border: solid #ffffff;
}

.c-fontweight__bold {
  font-weight: 700;
}

.c-display__flex {
  display: flex;
}
.c-display__flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-display__block {
  display: block;
}
.c-display__grid {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 500px) {
  .c-display__grid {
    grid-template-columns: repeat(2, minmax(20%, 1fr));
  }
}
@media screen and (min-width: 1280px) {
  .c-display__grid {
    grid-template-columns: repeat(3, minmax(20%, 1fr));
  }
}

.c-box__pagination {
  border: #707070 1px solid;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-box__blockquote {
  width: 100%;
  height: auto;
}

.c-margin__contents {
  width: 100%;
  height: auto;
  padding: 5.3% 5.3% 0;
}
.c-margin--h2 {
  margin: 0 0 25px 0;
}
@media screen and (min-width: 500px) {
  .c-margin--h2 {
    margin: 0 0 55px 0;
  }
}
@media screen and (min-width: 1280px) {
  .c-margin--h2 {
    margin: 0 0 67px 0;
  }
}
.c-margin--p {
  margin: 0 0 36px 0;
}
@media screen and (min-width: 500px) {
  .c-margin--p {
    margin: 0 0 60px 0;
  }
}
@media screen and (min-width: 1280px) {
  .c-margin--p {
    margin: 0 0 60px 0;
  }
}
.c-margin--h3 {
  margin: 0 0 28px 0;
}
@media screen and (min-width: 500px) {
  .c-margin--h3 {
    margin: 0 0 56px 0;
  }
}
@media screen and (min-width: 1280px) {
  .c-margin--h3 {
    margin: 0 0 56px 0;
  }
}
.c-margin--h4 {
  margin: 0 0 34px 0;
}
@media screen and (min-width: 500px) {
  .c-margin--h4 {
    margin: 0 0 73px 0;
  }
}
@media screen and (min-width: 1280px) {
  .c-margin--h4 {
    margin: 0 0 57px 0;
  }
}
.c-margin--h5 {
  margin: 0 0 27px 0;
}
@media screen and (min-width: 500px) {
  .c-margin--h5 {
    margin: 0 0 56px 0;
  }
}
@media screen and (min-width: 1280px) {
  .c-margin--h5 {
    margin: 0 0 56px 0;
  }
}
.c-margin--h6 {
  margin: 0 0 26px 0;
}
@media screen and (min-width: 500px) {
  .c-margin--h6 {
    margin: 0 0 56px 0;
  }
}
@media screen and (min-width: 1280px) {
  .c-margin--h6 {
    margin: 0 0 56px 0;
  }
}
.c-margin--under {
  margin: 0 0 30px 0;
}
@media screen and (min-width: 500px) {
  .c-margin--under {
    margin: 0 0 60px 0;
  }
}
.c-margin--left50 {
  padding: 0 0 0 50px;
}
.c-margin--left68 {
  padding: 0 0 0 68px;
}

.c-img {
  width: 100%;
  height: auto;
  background-size: cover;
}

.p-footer-copyright {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 16px;
}
@media screen and (min-width: 500px) {
  .p-footer-copyright {
    padding: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer-copyright {
    padding: 27px;
  }
}

.p-footer-text {
  display: flex;
  margin: 0 auto;
  padding: 16px;
}
@media screen and (min-width: 500px) {
  .p-footer-text {
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer-text {
    padding: 41px;
  }
}
.p-footer-text > li {
  margin: 0 5px;
}
.p-footer-text.c-font__Mplus1 {
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 500px) {
  .p-footer-text.c-font__Mplus1 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer-text.c-font__Mplus1 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.p-footer-text > .menu-footer-navigation-container > ul,
.p-footer-text .menu-footer_nav-container > ul {
  display: flex;
  margin: 0 auto;
  padding: 16px;
}
@media screen and (min-width: 500px) {
  .p-footer-text > .menu-footer-navigation-container > ul,
.p-footer-text .menu-footer_nav-container > ul {
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer-text > .menu-footer-navigation-container > ul,
.p-footer-text .menu-footer_nav-container > ul {
    padding: 41px;
  }
}
.p-footer-text > .menu-footer-navigation-container > ul > li,
.p-footer-text .menu-footer_nav-container > ul > li {
  margin: 0;
}
.p-footer-text > .menu-footer-navigation-container > ul > li > a,
.p-footer-text .menu-footer_nav-container > ul > li > a {
  color: #fff;
  padding: 0 15px;
}
.p-footer-text > .menu-footer-navigation-container > ul > li + li,
.p-footer-text .menu-footer_nav-container > ul > li + li {
  border-left: 2px solid #fff;
  top: 0;
  bottom: 0;
  height: 25px;
  vertical-align: middle;
}
.p-footer-text > .menu-footer-navigation-container > ul.c-font__Mplus1,
.p-footer-text .menu-footer_nav-container > ul.c-font__Mplus1 {
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 500px) {
  .p-footer-text > .menu-footer-navigation-container > ul.c-font__Mplus1,
.p-footer-text .menu-footer_nav-container > ul.c-font__Mplus1 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer-text > .menu-footer-navigation-container > ul.c-font__Mplus1,
.p-footer-text .menu-footer_nav-container > ul.c-font__Mplus1 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.p-nav__title {
  text-align: right;
  position: absolute;
  right: 0;
  padding: 8px 8px 0 0;
  z-index: 12;
  cursor: pointer;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 500px) {
  .p-nav__title {
    padding: 1% 2.9%;
    font-size: 34px;
    font-size: 2.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-nav__title {
    display: none;
  }
}
.p-nav__close {
  width: 32px;
  width: 36px;
  margin: 8px 11px auto auto;
}
@media screen and (min-width: 1280px) {
  .p-nav__close {
    display: none;
  }
}

.p-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 14px;
  padding: 40px 3%;
}
@media screen and (min-width: 1280px) {
  .p-search {
    width: 35%;
  }
}
.p-search__box {
  position: relative;
  width: 70%;
}
.p-search__box::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/mushimegane.png);
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 12px;
}
.p-search__input {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 500px) {
  .p-search__input.c-input--search {
    width: 100%;
    height: 46px;
    padding: 0 0 0 40px;
  }
}
.p-search__button {
  width: 100%;
  height: 100%;
}
.p-search__button.c-button--search {
  width: 90px;
  height: 46px;
}
@media screen and (min-width: 500px) {
  .p-search__button.c-button--search {
    width: 136px;
    height: 46px;
  }
}

.p-header-text__title {
  padding: 43px 0 0 0;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
}
@media screen and (min-width: 1280px) {
  .p-header-text__title {
    font-size: 64px;
    font-size: 4rem;
    padding: 65px;
  }
}

.p-firstview {
  width: 100%;
  min-height: 285px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  background: url(../img/sp-front-page-top.png);
}
@media screen and (min-width: 500px) {
  .p-firstview {
    background: url(../img/tab-front-page-top.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .p-firstview {
    min-height: 530px;
    background: url(../img/front-page-top.jpg);
    background-size: cover;
  }
}
.p-firstview__archive {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 285px;
  background-image: url(../img/archive-top.png);
  background-size: cover;
}
.p-firstview__archive::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.p-firstview__single {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 225px;
  background-image: url(../img/single-top.png);
  background-size: cover;
}
@media screen and (min-width: 500px) {
  .p-firstview__single {
    min-height: 505px;
  }
}
@media screen and (min-width: 1280px) {
  .p-firstview__single {
    min-height: 500px;
  }
}
.p-firstview__shop {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 225px;
  background-image: url(../img/shop.png);
  background-size: cover;
}
@media screen and (min-width: 500px) {
  .p-firstview__shop {
    min-height: 505px;
  }
}
@media screen and (min-width: 1280px) {
  .p-firstview__shop {
    min-height: 500px;
  }
}
.p-firstview__title {
  position: absolute;
  top: 43%;
  left: 6.7%;
  font-size: 36px;
  font-size: 2.25rem;
  display: block;
}
@media screen and (min-width: 500px) {
  .p-firstview__title {
    left: 10%;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .p-firstview__title {
    font-size: 40px;
    font-size: 2.5rem;
    top: 44%;
    left: 5.5%;
    display: flex;
  }
}
.p-firstview__title > h3 {
  font-size: 16px;
  font-size: 1rem;
  padding: 12px 0 0 0;
}
@media screen and (min-width: 500px) {
  .p-firstview__title > h3 {
    padding: 25px 10px 10px 10px;
  }
}

.p-branch-menu {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: block;
  padding: 5.3%;
}
@media screen and (min-width: 500px) {
  .p-branch-menu {
    display: flex;
    padding: 4.7%;
    gap: 4.7%;
  }
}
@media screen and (min-width: 1280px) {
  .p-branch-menu {
    display: flex;
  }
}
.p-branch-menu > ul {
  display: flex;
  flex-direction: column;
  height: 40%;
  gap: 4.7%;
  row-gap: 20px;
}
@media screen and (min-width: 500px) {
  .p-branch-menu > ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .p-branch-menu > ul {
    flex-direction: row;
  }
}
.p-branch-menu > ul > li {
  display: flex;
  width: 100%;
}
.p-branch-menu__01 {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../img/take-out.png);
  background-size: cover;
}
.p-branch-menu__02 {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../img/eat-in.png);
  background-size: cover;
}
.p-branch-menu__title {
  position: absolute;
  top: 13px;
  left: 15px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 41px;
  font-size: 2.5625rem;
}
.p-branch-menu__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 33.89px;
  height: 0;
  border-bottom: 4px solid #FFFFFF;
  padding: 3% 0;
}
@media screen and (min-width: 500px) {
  .p-branch-menu__title {
    top: 2%;
    left: 11px;
    font-size: 44px;
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-branch-menu__title {
    top: 24px;
    left: 11px;
    font-size: 80px;
    font-size: 5rem;
  }
}
.p-branch-menu__whiteBox {
  background-color: #ffffff;
  opacity: 0.8;
  padding: 8px 16px;
  margin: 16px;
}
.p-branch-menu__whiteBox > dl > dt {
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 22px;
  font-size: 1.375rem;
}
@media screen and (min-width: 500px) {
  .p-branch-menu__whiteBox > dl > dt {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-branch-menu__whiteBox > dl > dt {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.p-branch-menu__detail {
  margin: 298px 0 0 0;
}
@media screen and (min-width: 500px) {
  .p-branch-menu__detail {
    margin: 340px 0 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .p-branch-menu__detail {
    margin: 824px 0 0 0;
  }
}

.p-access {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background-image: url(../img/map.png);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-blend-mode: multiply;
  z-index: -2;
}
.p-access::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
@media screen and (min-width: 500px) {
  .p-access::after {
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .p-access::after {
    width: 950px;
    height: 100%;
  }
}
.p-access__textBox {
  padding: 11%;
  word-break: break-all;
}
@media screen and (min-width: 500px) {
  .p-access__textBox {
    padding: 5%;
  }
}
@media screen and (min-width: 1280px) {
  .p-access__textBox {
    width: 950px;
  }
}
.p-access__title {
  font-size: 30px;
  font-size: 1.875rem;
  position: relative;
}
.p-access__title::after {
  content: "";
  display: block;
  width: 8%;
  height: 0;
  position: absolute;
  border-bottom: 2px solid #ffffff;
  padding: 1% 0;
}
.p-access__text {
  font-size: 14px;
  font-size: 0.875rem;
  width: 100%;
  word-break: break-all;
  line-height: 235%;
  padding: 24% 0;
}
@media screen and (min-width: 500px) {
  .p-access__text {
    padding: 5% 0;
  }
}

.p-sidebar-menu {
  position: relative;
}
.p-sidebar-menu__title {
  display: none;
  font-size: 34px;
  font-size: 2.125rem;
  padding: 0 0 70px 0;
}
@media screen and (min-width: 1280px) {
  .p-sidebar-menu__title {
    display: block;
  }
}
.p-sidebar-menu > ul {
  margin: 6.6% auto auto 46px;
}
@media screen and (min-width: 1280px) {
  .p-sidebar-menu > ul {
    margin: 0;
  }
}
.p-sidebar-menu__subtitle {
  padding: 20px 0;
  font-size: 24px;
  font-size: 1.5rem;
}
.p-sidebar-menu__list {
  padding: 12px 20px;
}
.p-sidebar-menu__list > li {
  padding: 10px 0;
}
.p-sidebar-menu__list > li > a {
  color: #707070;
  font-size: 20px;
  font-size: 1.25rem;
}

.menu-item-object-category {
  font-weight: 700;
  padding: 20px 0;
  font-family: M PLUS 1;
  font-size: 24px;
  font-size: 1.5rem;
}
.menu-item-object-category > a {
  color: #707070;
}

.menu-item-object-post {
  padding: 12px 20px;
  font-family: M PLUS 1;
}
.menu-item-object-post > a {
  color: #707070;
  font-size: 20px;
  font-size: 1.25rem;
}

.p-archive {
  width: 100%;
  height: auto;
  padding: 5.3% 5.3% 0;
}
.p-archive__title {
  font-size: 36px;
  font-size: 2.25rem;
}
.p-archive > p {
  font-size: 16px;
  font-size: 1rem;
}
.p-archive__button {
  width: 163px;
  height: 42px;
}
@media screen and (min-width: 1280px) {
  .p-archive__button {
    width: 292px;
    height: 76px;
  }
}

.p-card {
  width: 100%;
  height: auto;
}
.p-card__wrapper {
  display: block;
  background-color: #3C2B1C;
  margin: 5.3%;
}
.p-card__wrapper > img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 500px) {
  .p-card__wrapper > img {
    width: 50%;
    height: auto;
  }
}
@media screen and (min-width: 500px) {
  .p-card__wrapper {
    display: flex;
  }
}
.p-card__textarea {
  width: 100%;
  height: auto;
  background-color: #3C2B1C;
  text-align: center;
}
.p-card__textarea > button {
  margin: 0 auto 12.7%;
}
.p-card__textbox {
  width: 100%;
  height: auto;
  padding: 9% 5%;
  text-align: left;
}
@media screen and (min-width: 500px) {
  .p-card__textbox {
    padding: 12% 15% 12% 9%;
  }
}
@media screen and (min-width: 1280px) {
  .p-card__textbox {
    padding: 12% 15% 12% 9%;
  }
}
.p-card__textbox > h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 1280px) {
  .p-card__textbox > h2 {
    font-size: 36px;
    font-size: 2.25rem;
    margin: 0 0 44px 0;
  }
}
.p-card__textbox > h3 {
  font-size: 16px;
  font-size: 1rem;
  margin: 0 0 7px 0;
}
@media screen and (min-width: 1280px) {
  .p-card__textbox > h3 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0 0 13px 0;
  }
}

.p-pagination {
  justify-content: center;
  margin: 60px 0 30px 0;
}
.p-pagination__wrapper {
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 500px) {
  .p-pagination__wrapper {
    justify-content: center;
  }
}
.p-pagination__wrapper > div {
  padding: 0 8px 0 0;
}
.p-pagination__wrapper > li:nth-child(3) {
  background-color: #3C2B1C;
  color: #ffffff;
}
.p-pagination__list {
  margin: 0 8px;
}
@media screen and (min-width: 500px) {
  .p-pagination__list {
    display: none;
  }
}
.p-pagination__number {
  display: none;
  white-space: nowrap;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 500px) {
  .p-pagination__number {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .p-pagination__next {
    display: none;
  }
}
.p-pagination__box {
  display: none;
  background-color: #ffffff;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 500px) {
  .p-pagination__box {
    display: flex;
    margin: 0 0.4%;
  }
}

.p-blockquote {
  padding: 4.7%;
  background-color: #F5F5F5;
}

.p-single__img-text {
  width: 100%;
  height: auto;
  gap: 10px;
}
@media screen and (min-width: 500px) {
  .p-single__img-text {
    gap: 40px;
  }
}
.p-single__img {
  width: 100%;
  height: auto;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 144px;
  max-height: 581px;
  flex-basis: 30%;
}
.p-single__img-large > img {
  width: 100%;
  height: auto;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 500px) {
  .p-single__img-large > img {
    height: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .p-single__img-large > img {
    height: 500px;
  }
}
.p-single__img-medium {
  width: 71%;
  height: auto;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 60px auto;
}
@media screen and (min-width: 1280px) {
  .p-single__img-medium {
    width: 30%;
  }
}
.p-single__img-small {
  width: 335px;
  height: 205px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .p-single__img-small {
    width: 438px;
    height: 257px;
  }
}
.p-single__text {
  width: 100%;
  height: auto;
  flex-basis: 70%;
}
.p-single__list01 ol {
  counter-increment: count 0;
  font-size: 16px;
  font-size: 1rem;
  margin: 0 0 16px 0;
}
.p-single__list01 li:before {
  content: counter(count) ". ";
  counter-increment: count 1;
}
.p-single__list02 ol {
  font-size: 16px;
  font-size: 1rem;
  margin: 0 0 16px 0;
}
.p-single__button {
  width: 100%;
  height: 81px;
}
@media screen and (min-width: 500px) {
  .p-single__button {
    height: 104px;
    max-width: 429px;
  }
}

.u-color__gray {
  color: #707070;
}
.u-color__black {
  color: #3C2A10;
}
.u-color__white {
  color: #ffffff;
}
.u-color__lightgray {
  color: #F2EDE9;
}
.u-color__beige {
  color: #FFF7EF;
}
.u-color__brown {
  color: #9D8670;
}
/*# sourceMappingURL=style.css.map */