@use "../../foundation/mixin" as *;


.c-button {
    &--search{
        background: linear-gradient(to right,#F2EDE9,#DED8D3);
        border: 1px solid #707070;
        border-radius: 10px;
    }
    
    &--detail {
        background-color: #ffffff;
        border-radius: 20px;
        @include mq(pc){
            border-radius: 50px;
        }
    }
}