@use "../../foundation/mixin" as *;

.p-archive {
    width: 100%;
    height: auto;
    padding: 5.3% 5.3% 0;

    &__title{
        @include rem(36);
    }
    >p {
        @include rem(16);
    }

    &__button {
        width: 163px;
        height: 42px;

        @include mq(pc){
            width: 292px;
            height: 76px;
        }
    }
}