@use "../../foundation/mixin" as *;

//menu
.p-nav {
    &__title {
        text-align: right;
        position: absolute;
        right: 0;
        padding: 8px 8px 0 0;
        z-index: 12;
        cursor: pointer;
        
        @include rem(20);

        @include mq(tab){
            padding: 1% 2.9%;
            @include rem(34);
        }

        @include mq(pc){
            display: none;
        }
    }

    &__close {
        width: 32px;
        width: 36px;
        margin: 8px 11px auto auto;

        @include mq(pc){
            display: none;
        }
    }
}