@use "../foundation/mixin" as *;

body {
    font-family: 'M PLUS 1','M PLUS 1 Code', 'Robot',sans-serif;
    box-sizing: border-box;
    background: #FFFDFA;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 320px;
}

img {
    width: 100%;
}


li {
    list-style-type: none;
  }

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
} 

a,a:active,a:focus {
    text-decoration: none;
    outline: none;
    color: #000000;
}

input::-webkit-search-cancel-button {    
    -webkit-appearance: none;    /* デフォルトのサーチキャンセルボタンを非表示にする場合 */
  }

cite {
    color: #4A6C9B;
    
}

pre {
    padding: 5%;
    background-color: #F5F5F5;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    border: 1px solid #707070;
    padding: 30px;
    text-align: left;
}

th {
    width: 35%;
    font-weight: 500;
}